<%= render partial: 'shared/navbar' %>

<h1>My Account Details</h1>

<b>First Name:</b> <%=current_user.first_name%>
<br><br>
<b>Last Name:</b> <%=current_user.last_name%>
<br><br>
<b>Email:</b> <%=current_user.email%>
<br><br>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Change Email and/or Password</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Personal Information</h4>
      </div>
      <div class="modal-body">
        <form id="tab" action="/register" method='post'>
          <label> New Email</label><br>
          <input type="text" value=""name="email" class="input-xlarge"><br>
          <label> New Password</label><br>
          <input type="password" name="password"class="input-xlarge"</input><br>
          <label>Confirm New Password</label><br>
          <input type="password" name="password_confirmation"  class="input-xlarge">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
        
      </div>
    </div>

  </div>
</div>
<!-- <a href="/change_password">Change Password</a> -->
<hr>
<a href="/users/user_profile">Back</a>
