<%= render partial: 'shared/navbar' %>

<h3>Welcome, <%=current_user.first_name%>!</h3>

<center>
  <h3>Here are your favorite properties!</h3><br><br>
<div id="thumbs">
    <a id="single_image1" href="#"><img src="/assets/Cello.png" alt=""/></a>
    <a id="single_image2" href="#"><img src="http://dummyimage.com/300x300/444/fff" alt=""/></a>
    <a id="single_image3" href="#"><img src="http://dummyimage.com/300x300/444/fff" alt=""/></a>
    <span class="stretch"></span>
</div>​

  <h3>Here are the properties you are selling!</h3><br><br>
<div id="thumbs">
    <a id="single_image1" href="#"><img src="http://dummyimage.com/300x300/444/fff" alt=""/></a>
    <a id="single_image2" href="#"><img src="http://dummyimage.com/300x300/444/fff" alt=""/></a>
    <a id="single_image3" href="#"><img src="http://dummyimage.com/300x300/444/fff" alt=""/></a>
    <span class="stretch"></span>
</div>​
</center>

<br><br>
