<nav>
  <a href="/properties/homepage">Browse Properties</a>
</nav>
<hr>
  <h3>Welcome!</h3>
<center>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="" id="loginModal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Have an Account?</h3>
            </div>
          <div class="modal-body">
        <div class="well">
         <ul class="nav nav-tabs">
           <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
           <li><a href="#create" data-toggle="tab">Create Account</a></li>
         </ul>
         <div id="myTabContent" class="tab-content">
          <div class="tab-pane active in" id="login">
            <form class="form-horizontal" action="/login" method="POST">
              <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <fieldset>
                  <div id="legend">
                    <legend class="">Login</legend>
                  </div>
                  <div class="control-group">
                    <label class="control-label"  for="email">Email</label>
                    <div class="controls">
                      <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                    </div>
                  </div>
                <div class="control-group">
                  <!-- Password-->
                  <label class="control-label" for="password">Password</label>
                    <div class="controls">
                      <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                    </div>
                  </div>
                <div class="control-group">
            <!-- Button -->
                    <div class="controls"><br><br>
                      <button class="btn btn-success">Login</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
              <div class="tab-pane fade" id="create">
                <form id="tab" action="/register" method='post'>
                  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                  <label>First Name</label><br>
                  <input type="text" value=""  name="first_name" class="input-xlarge"><br>
                  <label>Last Name</label><br>
                  <input type="text" value="" name="last_name" class="input-xlarge"><br>
                  <label>Email</label><br>
                  <input type="text" value=""name="email" class="input-xlarge"><br>
                  <label>Password</label><br>
                  <input type="password" name="password"class="input-xlarge"</input><br>
                  <label>Confirm Password</label><br>
                  <input type="password" name="password_confirmation"  class="input-xlarge">
                    <div><br><br>
                    <button type="submit"class="btn btn-primary">Create Account</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</center>
