<nav>
  <a href="/properties/list_property">List Property</a>
  <br><br>
  Signed In: <%=current_user.first_name%><br>
  <a href="/logout"><button>Logout</button></a>
  <form class="" action="index.html" method="post">
    Search: <input type="text" name="search_query" placeholder="Enter city, address, or zip">
  </form>
</nav>
<hr>


<h1>Properties#homepage</h1>
<p>Find me in app/views/properties/homepage.html.erb</p>
