<%= render partial: 'shared/navbar' %>
<div id="map" style="display:inline-block;"></div>
<script>
  function initMap() {
    var uluru = {lat: 41.8781, lng: -87.6298};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: uluru
      mapOptions: {
        zoomControl: boolean,
        mapTypeControl: boolean,
        scaleControl: boolean,
        streetViewControl: boolean,
        rotateControl: boolean,
        fullscreenControl: boolean
      }
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-sQVuX8b2ECGCusIws9k7Jta3g2-n6zg&callback=initMap">
</script>
<div class="queries" style="display:inline-block; vertical-align:top;">

  <h2>Real Estate</h2>
  <nav>
      <a href="/properties/most_popular">Most Popular</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/properties/newest">Newest</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/properties/low_to_high">Rent(low to high)</a>
  </nav>
  <div class="listings" style="background-color:grey;">
    <ul>
      <% @new_properties.each do |p| %>
        <li><%=p%></li>
      <% end %>
    </ul>
    <ul>
      <% if false %>
      <% @popular_properties.each do |p| %>
        <li><%=p%></li>
      <% end %>
    </ul>
    <ul>
      <% @rent_properties.each do |p| %>
        <li><%=p%></li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
