<center><h2 class="centered_titles">Recent for Sale</h2>
<p class="centered_titles">Fresh out the Oven</p>
<!-- Carousel 1
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/assets/house1.jpeg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>$250,000</h3>
            <p class="subtitles">5522 W. Chicago Ave.</p>
          </div>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/assets/house2.jpeg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>$340,000</h3>
            <p class="subtitles">3322 S. Oakley Ave.</p>
          </div>
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->

            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/assets/house3.jpeg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>$360,000</h3>
            <p class="subtitles">6300 S. Homan Ave.</p>
          </div>
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <script>
    	$('.carousel ').carousel({
    		interval: 3000
    	})
    </script>
