<div class="jumbotron">
  <br>
  <br>
  <br>
  <br>
  <h1 id="jumbotext">Mi Casa es su Casa</h1>
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter an address, barrio, city, or zipcode">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

  <p>...</p>
  
</div>
