<div class="jumbotron">
  <br>
  <br>
  <br>
  <br>
  <h1 id="jumbotext">Mi Casa es su Casa</h1>
    <div class="col-lg-6">
      <div class="input-group">
        <input style="display:center;" type="text" class="form-control" placeholder="Enter an address, barrio, city, or zipcode">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" >Learn more</a></p>
</div>
