<nav id="logged_in" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">Sherlock Homes</a><a href="/"><img id="shome" src="/assets/shomes.png" alt="" style="width:46px;height:46px;margin-right:150px;"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/properties">Buy <span class="sr-only">(current)</span></a></li>
        <li><a href="/properties">Rent</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sell <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/properties/list_property">Create a Listing</a></li>
          </ul>
        </li>
      </ul>
      <div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" style="width:400px;" placeholder="Enter city, barrio, or zip" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/properties">Browse Homes</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://masmejor.com/"><i style="color:red;">Sign Up for Cholo Fit!</i></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Zillow <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="SHdropdown_titles"><a href="/users/user_profile">My Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/users/user_profile">Hearted Homes</a></li>
            <li role="separator" class="divider"></li>
            <li class="SHdropdown_titles"><a href="/users/my_account">My Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Saved Searches</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/agents/contact_agent">Contact an Agent</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
