

.container{
  width: 425px;
  display: inline-block;
  // float: left;
  // background-color: lightgoldenrodyellow;

}
.container1{
  width: 425px;
  display: inline-block;
  // float: right;
  // background-color: lightgoldenrodyellow;;

}
.imagecontainer{
  width: 100px;
  height: 100px;

}
.table{
  padding: 8px;
  background-color: aliceblue;
  background-color: lightgoldenrodyellow;

  }
