.jumbotron {
  background-image: url('/assets/chicago.jpg');
  padding-top: 183px;

}

#jumbotext{
  color: white;
  text-align: center;
}

.col-lg-6{
  float: none;
}

#homies{
  color: white;
  float: right;
}
